/*
    Author:Rabeya Islam;
    Theme: Food order website ;
    Version: 1.0;
*/
*{
   margin: 0;
   padding: 0;
   font-family: Arial, Helvetica, sans-serif;

}
.wrapper{
    
    padding:  3% ;
    width: 80%;
    margin: 0 auto;
    color: darkcyan;
    text-align: center;
   
  
}

    



.text-center{
    text-align: center;

}
.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 80%;
    border: double;
    
    margin: 0%;
    
}

.tbl-30{
    width: 50%;
  border: double;
  
}

table tr th{
    border-bottom: 2px  double black;
    padding: 1%;
    text-align: center;
    
}
table tr td{
    padding: 1%;
    font-weight: bold;
    color: blanchedalmond;


}
.btn-primary{
    background-color:pink;
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
  
    
    


}
#add_more{
    background-color:#22a6b3;
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
  
    

}

.btn-primary:hover{

    background-color: #FF7777;
}
.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
  
    
   
    
    

}
.btn-secondary:hover{

    background-color:#2ed573;
  
    
    
    
    
}
.btn-danger{
    background-color:  #FF2442;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Mulish', sans-serif;
    


}
.btn-danger:hover{

    background-color:#ff6348;
}

.success{
   color:green;

}
.error{
    color: #ff6348;
}
.true{
    color: #2ed573;
}
.false{
    color: red;
}


/*Css for menu*/
.menu{
  
    background:#B53471;
}
.menu ul{
    list-style-type: none;
  
}
.menu ul li{
    display: inline;
    padding: 2%;
 
    
    
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: white;
   

}
.menu ul li a:hover{

 color:steelblue;

}
/* Css for main content */
.main-content{


    background-color: #dfe4ea;
    padding: 2% 0;
    background: linear-gradient(rgba(0,0,0,0.5),#eb74ab),url(../images/bc.jpg);
    height: 150vh;
    background-size: cover;

}
.col-4{
    width: 18%;
    background-color: white;
    margin: 1%;
    padding: 2%;
    float: left;


}

/* Css for footer*/

.footer{

background: #ff4757;
color: white;

}
