/* 
    Author: Rabeya islam;
    Theme: Restaurant Food Order;
    version: 1.0;
*/


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Nanum+Gothic:wght@700&family=Oleo+Script&family=Open+Sans:ital,wght@0,700;1,800&family=Patua+One&family=Poppins&family=Roboto&family=Secular+One&family=Vidaloka&display=swap');

/* CSS for All */
html{
    scroll-behavior: smooth;
}

*{
    margin: 0 0;
    padding: 0 0;
   
    font-family: 'Patua One', cursive;

}
   
.containers{
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}
.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.btn{
    padding: 5%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
}
.btn-search{
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
    padding: 7px 20px;
    

}
.btn-search:hover{
    color: #ff4757;
    background-color: white ;
    border:  2px solid #ff4757;
    

}
.btn-kit{
    border: none;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
}
/* .btn-kit:hover{
    color: #ff4757;
    background-color: white ;
    border:  2px solid #ff4757;

} */


.btn-primary{
    background-color: #ff6b81;
    color: white;
    cursor: pointer;
   
}

/* .btn-primary:hover{
    color: #ff4757;
    background-color: white ;
    border:  2px solid #ff4757;
    
} */
h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
h3{
    font-size: 1.5rem;
}
.float-container{
    position: relative;
}
.float-text{
    position: absolute;
    bottom: 50px;
    left: 40%;
}
fieldset{
    border: 1px solid white;
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
}
.error
{
    padding: 2%;
    color: red;
}
.success
{
    padding: 2%;
    color: seagreen;
}


/* CSSS for navbar section */

.logo img{
   height: 100px;
    width: 12%;
    float: left;
  }
  .menu {
    line-height: 60px;
  }
  .menu ul {
    list-style-type: none;
  }
  
  .menu ul li {
    display: inline;
    padding: 1%;
    font-weight: bold;
  }
  


/* CSS for Food SEarch Section */

.food-search {
    /* background-image: url(../images/bgg.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
  }
  
  .food-search input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }
  
  .food-search2 {
    background-image: url(../images/bgg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
   
  }
  .food-search3{
    background-image: url(../images/bg--2.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .food-search2 input[type="search"] {
    width: 50%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
  }


/* CSS for Categories */
/* .categories{
    padding: 4% 0;
} */

.box-3{
    width: 28%;
    float: left;
    margin: 2%;
    
   
}
.box-3:hover img{
    transform: scale(0.9);
    transition: 2s linear;
}


/* CSS for Food Menu */
.food-menu{
    background-color: #ececec;
    padding: 4% 0;
   
    
}
.food-menu-box{
    width: 30%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 10px 10px 40px  gray;
 
 
}
.food-menu-box:hover {
    transform: translateY(-20px);
    transition: 3s linear;
  
}

.food-menu-img img{
    width: 100%;
    height: 300px;
    float: left;
    margin-bottom: 10px;
}

.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
    display: flex;
    flex-direction: column;
  
}

.food-price{
    font-size: 1.2rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color: #747d8c;
}


/* CSS for Social */
.social{
    padding-top: 30px;
    background-color: black;
    height: 200px;
}
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* for Order Section */
.order{
    width: 50%;
    margin: 0 auto;
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%; 
    font-weight: bold;
}

.tawa img{
    width: 400px;
    height: 300px;
   

}

.explore:hover .tawa img{
     --translateX:4.37042px;
    --translateY:14.5876px; 
    --translateZ:20px;
    transform: translateX(var(--translateX))translateY(var(--translateY))translateZ(var(--translateZ));
    transition-duration: 1s, 2s, 2s ;

}
.explore {
    padding: 30px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
     background-image: url(../images/bgcategories.jpg);

}
/* .explore:hover{ */
    /* transform: translateY(-20px); */
    /* transition: 3s; */
/* } */
.explore-info{
    margin-top: 40px;
    width: 500px;
    height: 200px;
    color: white;

}

.works{
   
    position: relative;
    text-align: center;
   
}
.works img{
    height: 200px;
    width: 100%;
}

.works-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#head{
    content: "";
    height: 30px;
    background: url(../images/headind-border.png);
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    text-align: center;
    width: auto;
    background-position: center;
    margin-top: -20px;
    margin-bottom: 40px;
}


























/* CSS for Mobile Size or Smaller Screen */

@media only screen and (max-width:768px){
    .logo{
        width: 80%;
        float: none;
        margin: 1% auto;
    }

    .menu ul{
        text-align: center;
    }

    .food-search input[type="search"]{
        width: 90%;
        padding: 2%;
        margin-bottom: 3%;
    }

    .btn{
        width: 91%;
        padding: 2%;
    }

    .food-search{
        padding: 10% 0;
    }

    .categories{
        padding: 20% 0;
    }
    h2{
        margin-bottom: 10%;
    }
    .box-3{
        width: 100%;
        margin: 4% auto;
    }

    .food-menu{
        padding: 20% 0;
    }

    .food-menu-box{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    .social{
        padding: 5% 0;
    }
    .order{
        width: 100%;
    }
}



